<%= form_tag forgot_password_post_path do %>
  <p>
    Please enter the email address<br>
    that you originally registered with:
  </p>
  <p><%= text_field_tag "email_address" %></p>
  <p><%= submit_tag "Send password reset" %></p>
<% end %>